<div class="resovision-div">
  <div class="resovision-info" data-id="<%= @resovision.id %>" >
    <img class="pic-url" <%= image_tag(@resovision.pic_url) %><br>
    <li class="resovision-element" id="first_name"><%= @resovision.first_name %></li>
    <li class="resovision-element" id="last_name"><%= @resovision.last_name %></li>
    <p>Location:</p>
    <li class="resovision-element" id="location"><%= @resovision.location %></li>
    <p>Industry:</p>
    <li class="resovision-element" id="industry"><%= @resovision.industry %></li>
    <p>Headline:</p>
    <li class="resovision-element" id="headline"><%= @resovision.headline %></li>
    <p>Summary:</p>
    <li class="resovision-element" id="summary"><%= @resovision.summary %></li>
  </div><br>

  <div class= 'ziglets'>
    <button class='record-ziglet' id='<%= @resovision.last_name%><%= @resovision.first_name %>'>Record a video.</button>
  </div><br><hr>

  <% if @resovision.num_positions > 0 %>
    <div class="all-positions"> Positions:
      <% @resovision.positions.sort.each do |position| %>
        <div class="position" data-id="<%= position.id %>">
          <p>Company:</p>
          <li class="position-element" id="company_name"><%= position.company_name %></li>
          <p>Title:</p>
          <li class="position-element" id="title"><%= position.title %></li>
          <p>Summary:</p>
          <li class="position-element" id="summary"><%= position.summary %></li>
          <p>Currently working here?</p>
          <li class="position-element" id="is_current"><%= position.is_current %></li>
          <p>Start month:</p>
          <li class="position-element" id="start_month"><%= position.start_month %></li>
          <p>Start year:</p>
          <li class="position-element" id="start_year"><%= position.start_year %></li>
          <p>End month:</p>
          <li class="position-element" id="end_month"><%= position.end_month %></li>
          <p>End year:</p>
          <li class="position-element" id="end_year"><%= position.end_year %></li>
          <div class= 'ziglets'>
            <button class='record-ziglet' id='<%= position.company_name %><%= @resovision.last_name%>'>Record a video</button>
          </div>
        </div><hr>
      <% end %>
    </div>
  <% end %>

  <% if @resovision.num_educations > 0 %>
    <div class="all-educations"> Education:
      <% @resovision.educations.sort.each do |education| %>
          <div class="education" data-id="<%= education.id %>">
            <p>School name:</p>
            <li class="education-element" id="school_name"><%= education.school_name %></li>
            <p>Degree:</p>
            <li class="education-element" id="degree"><%= education.degree %></li>
            <p>Field of study: </p>
            <li class="education-element" id="field_of_study"><%= education.field_of_study %></li>
            <p>Start year:</p>
            <li class="education-element" id="start_year"><%= education.start_year %></li>
            <p>End year:</p>
            <li class="education-element" id="end_year"><%= education.end_year %></li>
            <div class= 'ziglets'>
              <button class='record-ziglet' id='<%= education.school_name %><%= @resovision.last_name%>'>Record a video.</button>
            </div><br>
          </div><hr>
      <% end %>
    </div>
  <% end %><hr>

</div>
