<body id="show-body">

<div class="container" id="show-div">

  <div class="resovision-info-ro" data-id="<%= @resovision.id %>" >
    <div class="img-div">
      <img class="pic-url" <%= image_tag(@resovision.pic_url) %>
    </div>
    <div class="name">
      <li class="resovision-element" id="first_name"><%= @resovision.first_name %></li>
      <li class="resovision-element" id="last_name"><%= @resovision.last_name %></li><br>
    </div>
    <div class="res-basic-info"
      <li class="resovision-element" id="location"><%= @resovision.location %></li>
      <li class="resovision-element" id="industry"><%= @resovision.industry %></li>
      <li class="resovision-element" id="headline"><%= @resovision.headline %></li>
    </div><hr>

    <div class="res-summary"
        <p>Summary:</p>
      <li class="resovision-element" id="summary"><%= @resovision.summary %></li>
    </div>
    <div class= 'ziglets'>
      <button class='show-ziglet' id='<%= @resovision.last_name%><%= @resovision.first_name %>'>Meet <%= @resovision.first_name %> </button>
    </div>
  </div><br><hr>

<hr> 
<% if @resovision.num_positions > 0 %>
  <div class="positions"> Positions:
    <hr> 
    <% @resovision.positions.each do |position| %>
        <p class="position">
          <h6 class="company"><%= position.company_name %></h6>
          <h6 class="title"><%= position.title %></h6>
          <ul class="summary"><%= position.summary %></ul>
          <ul class="is-current">Currently working here? <%= position.is_current %></ul>
          <ul class="dates"> <%= position.start_month %>/<%= position.start_year %> - <%= position.end_month %>/<%= position.end_year %></ul>
          <div class= 'ziglets'>
            <button class='show-ziglet'id='<%= position.company_name %><%= @resovision.last_name%>'>Tell me more about this position <%= @resovision.first_name %></button>
          </div>
        </p>
        <hr>
    <% end %>
  </div>
<% end %>

<% if @resovision.num_educations > 0 %>
  <div class="educations"> Education:
    <hr> 
    <% @resovision.educations.each do |education| %>
        <p class="education">
          <h6 class="school-name"><%= education.school_name %></h6>
          <h6 class="degree"><%= education.degree %></h6>
          <ul class="field-of-study">Field of study: <%= education.field_of_study %></ul>
          <ul class="start-year"><%= education.start_year %> - <%= education.end_year %></ul>
          <div class= 'ziglets'>
            <button class='show-ziglet'id='<%= education.school_name %><%= @resovision.last_name%>'>Tell me more about this school <%= @resovision.first_name %></button>
          </div>
      <% end %>
    </div>
  <% end %>
</div>

</body>

