<body id="show-body">

<div class="container" id="show-div">

  <div class="resovision-info-ro" data-id="<%= @resovision.id %>" >
    <div class="img-div">
      <img class="pic-url" <%= image_tag(@resovision.pic_url) %>
    </div>
    <div class="name">
      <li class="resovision-element" id="first_name"><%= @resovision.first_name %></li>
      <li class="resovision-element" id="last_name"><%= @resovision.last_name %></li><br>
    </div>
    <div class="res-basic-info"
      <li class="resovision-element" id="location"><%= @resovision.location %></li>
      <li class="resovision-element" id="industry"><%= @resovision.industry %></li>
      <li class="resovision-element" id="headline"><%= @resovision.headline %></li>
    </div><hr>
    <div class="res-summary">
      <h3 id="summary">Summary:</h3>
      <li class="resovision-element" id="summary"><%= @resovision.summary %></li>
    </div>
  </div><br><hr>

  <% if @resovision.num_positions > 0 %>
    <div class="all-positions">
      <div id="experience"> Experience </div>
      <% @resovision.positions.sort.each do |position| %>
        <div class="position-ro" data-id="<%= position.id %>">
          <h3>Company:</h3>
          <li class="position-element" id="company_name"><%= position.company_name %></li>
          <h3>Title:</h3>
          <li class="position-element" id="title"><%= position.title %></li>
          <h3>Summary:</h3>
          <li class="position-element" id="summary"><%= position.summary %></li>
          <h3>Currently working here?</h3>
          <li class="position-element" id="is_current"><%= position.is_current %></li>
          <h3>Start month:</h3>
          <li class="position-element" id="start_month"><%= position.start_month %></li>
          <h3>Start year:</h3>
          <li class="position-element" id="start_year"><%= position.start_year %></li>
          <h3>End month:</h3>
          <li class="position-element" id="end_month"><%= position.end_month %></li>
          <h3>End year:</h3>
          <li class="position-element" id="end_year"><%= position.end_year %></li>
        </div><hr>
      <% end %>
    </div>
  <% end %>

  <% if @resovision.num_educations > 0 %>
    <div class="all-educations">
      <div id="education"> Education </div>
      <% @resovision.educations.sort.each do |education| %>
          <div class="education-ro" data-id="<%= education.id %>">
            <p>School name:</p>
            <li class="education-element" id="school_name"><%= education.school_name %></li>
            <p>Degree:</p>
            <li class="education-element" id="degree"><%= education.degree %></li>
            <p>Field of study: </p>
            <li class="education-element" id="field_of_study"><%= education.field_of_study %></li>
            <p>Start year:</p>
            <li class="education-element" id="start_year"><%= education.start_year %></li>
            <p>End year:</p>
            <li class="education-element" id="end_year"><%= education.end_year %></li>
          </div><hr>
      <% end %>
    </div>
  <% end %>
</div>
</body>
