
<img class="pic-url" <%= image_tag(@resovision.pic_url) %><br>

<h4 class="first-name"><%= @resovision.first_name %></h4>
<h4 class="last-name"><%= @resovision.last_name %></h4>
<h4 class="location">Location: <%= @resovision.location %></h4>
<h4 class="industry">Industry: <%= @resovision.industry %></h4>
<h4 class="headline">Headline: <%= @resovision.headline %></h4>
<h4 class="summary">Summary: <%= @resovision.summary %>
  <ziggeo ziggeo-width=320
          ziggeo-height=240
          ziggeo-key='<%= @resovision.id %>summary'
          ziggeo-limit=120>
  </ziggeo>

  <ziggeo ziggeo-video='<%= @resovision.id %>summary'
        ziggeo-width=320
        ziggeo-height=240>
  </ziggeo>
</h4>


<div class="positions"> Positions:
  <% @resovision.positions.each do |position| %>
      <p class="position">
          <h6 class="company">Company: <%= position.company_name %></h6>
          <h6 class="title">Title: <%= position.title %></h6>
          <h6 class="summary">Summary: <%= position.summary %></h6>
          <h6 class="is-current">Currently working here? <%= position.is_current %></h6>
          <h6 class="start-month">Start month: <%= position.start_month %></h6>
          <h6 class="start-year">Start year: <%= position.start_year %></h6>
          <h6 class="end-month">End month: <%= position.end_month %></h6>
          <h6 class="end-year">End year: <%= position.end_year %></h6>
         <ziggeo ziggeo-width=320
            ziggeo-height=240
            ziggeo-key='<%= position.title %>'
            ziggeo-limit=120>
          </ziggeo>

        <ziggeo ziggeo-video='<%= position.title %>'
        ziggeo-width=320
        ziggeo-height=240>
        </ziggeo>
      </p>
  <% end %>
</div>

<div class="educations"> Education:
  <% @resovision.educations.each do |education| %>
      <p class="education">
          <h6 class="school-name">School name: <%= education.school_name %></h6>
          <h6 class="degree">Degree: <%= education.degree %></h6>
          <h6 class="field-of-study">Field of study: <%= education.field_of_study %></h6>
          <h6 class="start-year">Start year: <%= education.start_year %></h6>
          <h6 class="end-year">End year: <%= education.end_year %></h6>
          <ziggeo ziggeo-width=320
            ziggeo-height=240
            ziggeo-key='<%= education.school_name %>'
            ziggeo-limit=120>
          </ziggeo>

          <ziggeo ziggeo-video='<%= education.school_name %>'
            ziggeo-width=320
            ziggeo-height=240>
          </ziggeo>
      </p>
  <% end %>
</div>
