<div class= 'ziglets'>
  <button class='record-ziglet' id='<%= @resovision.last_name%><%= @resovision.first_name %>'>Record a video.</button>  
  </div>
</div>
<div class="resovision-info" data-id="<%= @resovision.id %>" >
  <img class="pic-url" <%= image_tag(@resovision.pic_url) %><br>
  <li class="resovision-element" id="first_name"><%= @resovision.first_name %></li>
  <li class="resovision-element" id="last_name"><%= @resovision.last_name %></li>
  <p>Location:</p>
  <li class="resovision-element" id="location"><%= @resovision.location %></li>
  <p>Industry:</p>
  <li class="resovision-element" id="industry"><%= @resovision.industry %></li>
  <p>Headline:</p>
  <li class="resovision-element" id="headline"><%= @resovision.headline %></li>
  <p>Summary:</p>
  <li class="resovision-element" id="summary"><%= @resovision.summary %></li>
</div><br>
<% if @resovision.num_positions > 0 %>
  <div class="all-positions"> Positions:
    <% @resovision.positions.each do |position| %>
        <p class="position">
          <div class= 'ziglets'>
            <button class='record-ziglet' id='<%= position.company_name %><%= @resovision.last_name%>'>Record a video</button>
          </div>
            <p>Company:</p>
            <li class="company"><%= position.company_name %></li>
            <p>Title:</p>
            <li class="title"><%= position.title %></li>
            <p>Summary:</p>
            <li class="summary"><%= position.summary %></li>
            <p>Currently working here?</p>
            <li class="is-current"><%= position.is_current %></li>
            <p>Start month:</p>
            <li class="start-month"><%= position.start_month %></li>
            <p>Start year:</p>
            <li class="start-year"><%= position.start_year %></li>
            <p>End month:</p>
            <li class="end-month"> <%= position.end_month %></li>
            <p>End year:</p>
            <li class="end-year"> <%= position.end_year %></li>

            <button type="button" class="edit-position">Edit Position</button><br>

        </p>
    <% end %>
  </div>
<% end %>

<% if @resovision.num_educations > 0 %>
  <div class="all-educations"> Education:
    <% @resovision.educations.each do |education| %>
        <p class="education">
          <div class= 'ziglets'>
            <button class='record-ziglet' id='<%= education.school_name %><%= @resovision.last_name%>'>Record a video.</button>
          </div>
          <p>School name:</p>
          <li class="school-name"><%= education.school_name %></li>
          <p>Degree:</p>
          <li class="degree"><%= education.degree %></li>
          <p>Field of study: </p>
          <li class="field-of-study"><%= education.field_of_study %></li>
          <p>Start year:</p>
          <li class="start-year"><%= education.start_year %></li>
          <p>End year:</p>
          <li class="end-year"><%= education.end_year %></li>
        </p>
    <% end %>
  </div>
<% end %>
